.card {
    width: 70px;
    border-radius: 0.5rem;
    height: 154px;
    position: absolute;
    border-top: 0.1rem solid #fdccd8;
    border-left: 0.2rem inset #f4becb;
    cursor: pointer;
    transform-style: preserve-3d;
    box-shadow: -3px 2px 4px 0px rgb(21 21 21 / 46%), -1px 5px 6px 0px rgb(0 0 0 / 43%);
    animation: move-path 160s ease both infinite alternate;
    transition: transform 0.8s cubic-bezier(.65, .05, .36, 1), transform-origin 0s;
}

.card img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    height: 100%;

}

@media(min-width:1200px) {
    .card {
        width: 88px;
        height: 190px;
        box-shadow: 2px 7px 5px 0px rgb(21 21 21 / 61%), -1px 10px 6px 0px rgb(0 0 0 / 58%);
    }
}

@media(min-width:1400px) {
    .card {
        width: 81px;
        height: 185px;
        box-shadow: 2px 7px 5px 0px rgb(21 21 21 / 61%), -1px 10px 6px 0px rgb(0 0 0 / 58%);
    }
}

@media(min-width:1600px) {
    .card {
        width: 110px;
        height: 245px;
        box-shadow: -3px 2px 4px 0px rgb(21 21 21 / 61%), -2px 7px 6px 0px rgb(0 0 0 / 58%);
    }
}