.starContainer {
    position: relative;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.btnReading button {
    animation: none;
    opacity: 0.4;
    filter: grayscale(1);
}

