.cardContainerOnly>div:nth-child(2) div {
  flex-basis: 60%;
}

@media(min-width:400px) {
  .cardContainerOnly>div:nth-child(2) div {
    flex-basis: 70%;
  }
}

@media(min-width:500px) {
  .cardContainerOnly>div:nth-child(2) div {
    flex-basis: 80%;
  }
}

@media(min-width:600px) {
  .cardContainerOnly>div:nth-child(2) div {
    flex-basis: unset;
  }
}

@media(min-width:1400px) {
  .cardContainerOnly>div:nth-child(2) {
    margin-left: 3rem;
  }
}

@media(min-width:1600px) {
  .cardContainerOnly>div:nth-child(2) {
    margin-left: 3rem;
  }
}