.scrollbar::-webkit-scrollbar {
  width: 12px;
}

  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;

}

  background-color: transparent;

}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
  background-color: transparent;
}

.modalOverlay {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0 0 0 / 90%);
  z-index: 999;
}



.modalOpen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerGeneral {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media(min-width:1024px) {
  .containerGeneral {
    background-image: url(/assets/images/modal-vertical-1.png),
      url(/assets/images/modal-vertical-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 1rem top, right 1rem top;
    animation: wingFlap2 1.1s ease-in-out infinite;
    box-shadow: rgb(0 0 0 / 86%) -1px 1px 11px, rgb(0 0 0 / 80%) -1px -4px 10px, rgb(0 0 0 / 68%) 0px 1px 5px, rgb(28 27 27 / 82%) 0px 4px 13px, rgb(20 19 19 / 88%) -1px 2px 3px;
  }

  .scrollbar>div:first-child {
    padding-top: 2rem;
  }


  .alaOneCardModal {
    transform-origin: left;
    animation: wingFlap1 1.1s ease-in-out infinite;
  }

  .alaTwoCardModal {

    transform-origin: right;
    animation: wingFlap1 1.1s ease-in-out infinite;
  }



  @keyframes wingFlap1 {

    0%,
    100% {
      transform: translateY(0) rotate(7deg);
    }

    50% {
      transform: translateY(-20px) rotate(6deg);


    }
  }

  @keyframes wingFlap2 {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}