.flex::-webkit-scrollbar {
    width: 12px; 
  }
  
  .flex::-webkit-scrollbar-thumb {
    background-color: transparent; 
    
  }
  
  .flex::-webkit-scrollbar-track {
    background-color: transparent; 
  }

