.scrollbar::-webkit-scrollbar {
    width: 12px; 
  }
  
.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; 
    
  }
  
.scrollbar::-webkit-scrollbar-track {
    background-color: transparent; 
  }

  .modalOverlay {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0 0 0 / 70%);
    z-index: 999;
}

  .modalOpen {
    display: flex;
    align-items: center;
    justify-content: center;
  }

