.card-list {
    display: flex;
    flex-direction: column;
  }
  
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px; /* Espacio entre las cartas */
    overflow-x: auto; /* Scroll horizontal en versión móvil */
  }
  
  .card {
    flex: 0 0 calc(50% - 10px); /* 2 cartas por fila en la versión móvil */
    margin-bottom: 10px; /* Espacio entre las filas en la versión móvil */
  }
  
  /* Media query para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .card {
      flex: 0 0 calc(50% - 10px); /* 2 cartas por fila en la versión móvil */
      margin-bottom: 10px; /* Espacio entre las filas en la versión móvil */
    }
  }