.btnComponent {
    box-shadow: 0 2.5rem 2rem -2rem hsl(0deg 0% 0% / 79%);
    transition: .5s all ease-in-out;
    animation: click 4s 2s infinite;
}

@keyframes click {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}