.starContainer {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.btnReading button {
    animation: none;
    opacity: 0.4;
    filter: grayscale(1);
}

.modalHome div:nth-child(1) div {
    background: #b474f4;
    color: white;
}